// Keep in sync with src/utils/css-class.ts
$PRIMARY: "global__primary";
$SECONDARY: "global__secondary";
$TERTIARY: "global__tertiary";
$WON: "global__won";
$ICON_BTN: "global__icon-btn";
$HIDDEN: "global__hidden";
$OPACITY_HIDDEN: "global__opacity_hidden";
$EMOJI: "global__emoji";
$ONE_LINER: "global__one_liner";
